
.timeline , .timeline-inner{
  position: relative;
}

.timeline .timeline-bar {
  content: '';
  opacity: .2;
  margin-left: -2px;
  position: absolute;
  left: 50%;
  top: 80px;
  width: 4px;
  height: 450px;
  background: #07cb79;
}

.timeline-box {
  width: 50%;
  color: #757575;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
  position: relative;

  .timeline-box-inner {
    padding: 20px 5%;
    position: relative;
    border-width: 5px 0 0;
    border-style: solid;
  }

  .arrow {
    top: 60px;
    width: 12px;
    height: 41px;
    display: block;
    position: absolute;
    background-image: url('https://rscard.px-lab.com/html/img/arrows.png');
    background-repeat: no-repeat;
  }

 
   .arrow:before{
    width: 0;
    height: 0;
    content: '';
    display: block;
  }
  
   .date {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
  }
  
   h4 {
    color: #878787;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  h3 {
    color: #414141;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;

  }
  
  .dot{
      top: 80px;
      width: 8px;
      height: 8px;
      display: block;
      position: absolute;
      background: #07cb79;
      border-radius: 50%;
  }
  &:nth-child(even){
    position: absolute;
    left: 0;
    .dot {
      right: 0;
      margin-right: -4px;
    }

    .timeline-box-inner {
      margin-right: 35px;
      .arrow {
        right: -12px;
        background-position: -18px 0;
        &:before {
          margin-right: 2px;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 10px solid #fff;
          
        }
      }
    }
    
  }
  &:nth-child(odd){
    position: absolute;
    right: 0;
    .dot {
      left:  0;
      margin-left: -4px;
    }


    .timeline-box-inner {
      margin-left: 35px;
      .arrow {
        left: -12px;
        background-position: 0 0;
        &:before {
          margin-left: 2px;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 10px solid #fff;
          
        }
      }
    }
  }
  
  



  
  
  
  
  .timeline-box-compact h3 ,.timeline-box-compact h4{
    text-align: left;
  }
  .timeline-box-compact .date{
    text-align: left;
  }
  
  .timeline-box-compact .date span {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    position: relative;
    padding: 5px 8px;
    border-radius: 3px;
    background-color: #07cb79;
  
  }
  
  .timeline-box-compact .date span:before {
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
    border-left-color:#07cb79
  }
}



@media only screen and (max-width: 480px) {

 .timeline {

    .timeline-inner{
      height: unset !important;
    }
  .timeline-box{
    position:static;
    width: 100%;
    .timeline-box-inner{
      margin-right:0;
      margin-left: 0;
      .arrow{
        display: none;
      }
    }
    .dot{
      display: none;
    }
  }
 } 

 }





